<html>
    <head>
    </head>
    <body>
        {% if sucess %}
            <form method="post" action="{% url 'add_to_favourites' %}">{% csrf_token %}
                <table>
                {{ reddit_links_formset }}
                </table>
                <input type="submit" class="btn btn-primary" value="Favourite">
            </form>
        {% else %}
        <form method="get" class="form" role="form">
            {{ form }}
            <input type="submit" class="btn btn-primary" value="Search">
        </form>
        {% endif %}
    </body>
</html>
